:root {
  --color-background: #fff;
  --color-light: #e7f9ef;
  --color-light-hover: #daf6e7;
  --color-light-active: #b3ebcd;
  --color-normal: #0ac05e;
  --color-normal-hover: #09ad55;
  --color-normal-active: #089a4b;
  --color-dark: #089047;
  --color-dark-hover: #067338;
  --color-dark-active: #05562a;
  --color-darker: #044321;
  --color-heading: #2d3134;
  --color-body: #676a6c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 2.2rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link--arrow {
  color: var(--color-normal);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.link--arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link--arrow:hover:after {
  margin-left: 10px;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list--inline .list__item {
  margin-right: 2rem;
}

/* Icons */

.icon {
  height: 50px;
  width: 50px;
}

.chevron-container {
  background: var(--color-light-hover);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon__container {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid rgb(245, 235, 235);
  box-shadow: 1px 1px 50px -25px rgb(196, 219, 201);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon--small {
  width: 40px;
  height: 40px;
}

/* Arrow Icon */

.icon--arrow__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-normal);
  cursor: pointer;
}

.icon--arrow__container:hover {
  background: var(--color-normal-hover);
}

.icon--arrow__container--light {
  background: var(--color-light);
}
.icon--arrow__container--light:hover {
  background: var(--color-light-hover);
}

.icon--arrow {
  height: 0.83rem;
  width: 2rem;
}

.icon--arrow--grey {
  transform: rotate(180deg);
}

/* Buttons */

.btn {
  border-radius: 9px;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  outline: 0;
  padding: 1.7rem 2.5vw;
  text-align: center;
  white-space: nowrap;
}

.btn--stretched {
  padding: 1.5rem 3.5vw;
}

.btn--small {
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 3px;
}

.btn__image {
  height: 50px;
  width: 50px;
}

.btn--primary {
  background: var(--color-normal);
  color: white;
  box-shadow: 0 15px 50px -20px rgb(87, 255, 121);
}

.btn--grey {
  background: var(--color-body);
  color: white;
  box-shadow: 1px 1px 50px -25px rgb(15, 255, 67);
}

.btn--primary:hover {
  background: var(--color-normal-hover);
}

.btn--secondary {
  background: white;
  color: var(--color-body);
}

.btn--secondary:hover {
  background: var(--color-light-hover);
}

.btn--outline {
  background: white;
  border: 1px solid var(--color-normal);
  color: var(--color-normal);
}

.btn--outline:hover {
  background: var(--color-light-hover);
  color: var(--color-normal-hover);
  border-color: var(--color-normal-hover);
}

/* Cards */

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: translate(0, -3rem);
}

.card__body {
  color: var(--color-body);
  line-height: 1.5;
}

.card__footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

/* stats */

.stats {
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
  width: 100%;
  max-width: 30rem;
}

.stats--shadow {
  border: 0;
  box-shadow: 10px 0 20px 10px #f3f3f3;
}

.stats__heading {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.stats__detail {
  font-size: 1.6rem;
}

/* Grids */
.grid {
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 888px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x4 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .grid--aligned-left {
    grid-template-columns: 1.5fr 1fr;
  }

  .grid--aligned-right {
    grid-template-columns: 1fr 1.5fr;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 5rem;
  padding: 5rem 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.left-aligned__header {
  text-align: left;
}

.right-aligned__header {
  text-align: right;
}

.block__heading {
  margin-right: auto;
  margin-left: auto;
  line-height: 1.4;
}

.container {
  max-width: 1140px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 5rem 10rem;
  }
}

/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  align-items: center;
}

.nav__brand {
  color: var(--color-heading);
  font-size: 2.5rem;
  font-weight: 700;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  padding: 2rem 1rem;
  text-align: center;
}

.nav__item > a {
  color: var(--color-body);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-heading);
}
.nav-btn-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.nav-btn-container .btn {
  margin: 1rem;
}

.nav__toggler {
  cursor: pointer;
  color: var(--color-normal);
}

.nav.collapsible--expanded .nav__toggler {
  color: var(--color-normal-hover);
  border-radius: 5px;
}

@media screen and (min-width: 847px) {
  .nav {
    padding: 2rem 2.3rem;
  }
  .nav__item {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-btn-container {
    max-height: 100%;
    opacity: 1;
  }

  .nav-btn-container .btn {
    margin: 0;
  }

  .nav__toggler {
    display: none;
  }

  .nav-btn-container {
    margin: 0;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }

  .nav-btn-container {
    display: inline;
  }
}

/* Hero */

.hero__heading {
  line-height: 1.05;
}

.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
  line-height: 1.7;
}

.hero__image {
  max-width: 500px;
  height: fit-content;
  border-radius: 10px 70px 10px 10px;
  background: #dff5e9;
  width: 100%;
}

.hero-image__container {
  position: relative;
  justify-self: center;
}

@media screen and (min-width: 889px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
.hero__image {
  max-width: 400px;
  height: 400px;
  justify-self: center;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
  }
}
@media screen and (min-width: 111px) {
  .hero__grid {
    grid-template-columns: 1.8fr 1fr;
  }
}

/* Features */

.features__header {
  margin-bottom: 12rem;
}

/* Features Block */

.block-features .grid {
  gap: 8rem 5rem;
}

.grid--features {
  justify-items: center;
}

.block-features .card {
  max-width: 328px;
  margin: 0 auto;
}

.block-features__para {
  font-size: 2.2rem;
  line-height: 1.5;
}

/* Showcase block */

.block--showcase {
  text-align: center;
}

.arrow__buttons {
  margin: 2rem;
}

.showcase__image {
  width: 100%;
  height: 300px;
  max-width: 300px;
  border-radius: 10px;
}

.showcase__grid {
  margin-top: 2rem;
  justify-items: center;
  row-gap: 4rem;
}

@media screen and (min-width: 768px) {
  .showcase__grid {
    column-gap: 3rem;
  }
}

/* Details Block */

.details {
  margin: 12rem auto;
}

.details__heading {
  line-height: 1.05;
}

@media screen and (min-width: 768px) {
  .details:nth-of-type(even) .details__content {
    order: 2;
  }

  .details__content {
    align-self: center;
  }
}

/* About Us Block */

.about-us {
  row-gap: 8rem;
}

.about-us__content {
  width: 100%;
  margin-right: 5rem;
  text-align: center;
}

.about-us__content p {
  font-size: 1.6rem;
  text-align: left;
}
.about-us__content button {
  margin-right: 3rem;
  margin-top: 1rem;
}

.about-us__stats {
  gap: 2rem 2rem;
  justify-items: center;
}

/* Testimonials */

.testimonial {
  text-align: center;
}

.card--testimonial {
  color: var(--color-body);
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.testimonial__footer__container {
  display: flex;
  justify-content: center;
}

.card__rating {
  margin: 2rem 0 2rem 0;
}

.card__rating__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.card--testimonial .card__body {
  line-height: 2;
}

.card--testimonial .card__footer {
  padding-top: 2.5rem;
}

.card--testimonial:hover {
  transform: scale(1.05);
}

.testimonial__name {
  font-weight: 600;
  color: var(--color-heading);
  margin-bottom: 0.5rem;
}

.testimonial__sign {
  font-size: 1.6rem;
  margin: 0;
}

.testimonial__header {
  display: inline-block;
  max-width: 750px;
}

.testimonial-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card--testimonial .card__header {
  position: relative;
}

.quote__icon {
  width: 50px;
  height: 50px;
  fill: var(--color-normal);
}

.quote__container {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 270%;
  right: 40%;
  box-shadow: 2px 5px 50px 10px #e6ebee;
}

/* Callout */

.callout {
  border-radius: 20px 20px;
  transform: translateY(5rem);
  padding: 0;
  margin-bottom: 10rem;
}

.callout__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callout__background {
  background: #e7f9ef;
  max-width: 800px;
}

.callout__content {
  text-align: center;
  background: #e7f9ef;
  max-width: 400px;
  border-radius: 0 0 180px 0;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-bottom: 0;
}

.callout__image {
  justify-self: center;
  border-radius: 180px 0 0 0;
}

.callout__content button {
  margin-right: 3rem;
  margin-top: 1rem;
}

@media screen and (min-width: 982px) {
  .callout__grid {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .callout__content {
    text-align: left;
    max-width: 1000px;
    padding-bottom: 3rem;
    width: 100%;
  }
}

/* Footer */

.footer {
  padding-top: 10rem;
}

.footer__item {
  margin: 1rem 0;
}

.footer-icon__container {
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-normal);
  cursor: pointer;
}

.footer-icon__item {
  display: inline-block;
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}

.icon__footer--social {
  height: 1.844rem;
  width: 1.844rem;
}

.footer-icon__list {
  padding-top: 1rem;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid var(--color-light-active);
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer a {
  color: var(--color-body);
  transition: color 0.2s;
}

.footer a:hover {
  color: rgb(28, 37, 29);
}

.brand__text {
  font-size: 1.6rem;
}

.brand__title {
  margin-top: 0;
}

.footer__brand img {
  max-width: 230px;
}

.footer__copyright {
  font-size: 1.6rem;
  color: var(--color-body);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(176, 180, 182);
}

.bootom__list {
  margin-right: 5rem;
}

.list--bottom {
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
    padding-right: 0;
  }
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-bottom: 3rem;
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
  .footer__bottom {
    margin-right: 10rem;
  }

  .list--bottom {
    display: inline;
  }
}

/* Glass Card */

.glass-card {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-card--top {
  right: 45%;
  top: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.glass-card--top__heading {
  font-weight: 500;
  font-size: 4rem;
  color: #ff4d4a;
  margin-right: 1rem;
}

.glass-card--top__text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #313131;
}

.glass-card--bottom {
  display: inline-flex;
  right: 1%;
  top: 49%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  border: 1px solid rgb(255, 252, 252);
  box-shadow: 0;
}

.glass-card--bottom__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.glass-card--bottom__sub-heading {
  font-size: 1.775rem;
  font-weight: 600;
  color: #313131;
  margin-bottom: 1.5rem;
}
.glass-card--bottom__heading {
  font-size: 2.6rem;
  font-weight: 600;
  color: #ff4d4a;
  margin: 1rem 0 0 0;
}

.glass-card--bottom__text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #313131;
  margin: 0.5rem 0 0.5rem 0;
}

@media screen and (min-width: 450px) {
  .glass-card--top {
    right: 50%;
  }
}
