:root {
  --color-background: #fff;
  --color-primary-dark: #089a4b;
  --color-primary-light: #83ebcd;
  --color-primary-light-active: #09ad55;
  --color-primary-light-hover: #0ac05e;
  --color-secondary-dark: #313131;
  --color-body-secondary-grey: #596877;
  --color-light: #f6fdfe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: var(--color-secondary-grey);
}

h1,
h2,
h3 {
  color: var(--color-secondary-dark);
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 3.2rem;
  color: var(--color-body-secondary-grey);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link--arrow {
  color: var(--color-primary-dark);
}

.link--arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link--arrow:hover:after {
  margin-left: 10px;
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */

.icon {
  height: 50px;
  width: 50px;
}

.icon--small {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary-dark);
}

/* Buttons */

.btn {
  border-radius: 9px;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  outline: 0;
  padding: 1.7rem 2.5vw;
  text-align: center;
  white-space: nowrap;
}

.btn--stretched {
  padding: 1.5rem 3.5vw;
}

.btn--primary {
  background: var(--color-primary-dark);
  color: white;
  box-shadow: 1px 1px 50px -25px rgb(15, 255, 67);
}

.btn--primary:hover {
  background: var(--color-primary-light-hover);
}

.btn--secondary {
  background: white;
  color: var(--color-body-secondary-grey);
}

.btn--outline {
  background: white;
  border: 1px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.btn--light {
  background: white;
  border: 0;
  color: var(--color-primary-dark);
}

/* Cards */

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
}

.card-footer {
  margin-top: 2rem;
}

/* stats */

.stats {
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(206, 206, 206);
  padding-left: 3rem;
  padding-right: 3rem;
}

.stats--shadow {
  border: 0;
  box-shadow: 10px 0 20px 10px #f3f3f3;
}

.stats__heading {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.stats__detail {
  font-size: 1.6rem;
}

/* Grids */
.grid {
  display: grid;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 888px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--hero {
    grid-template-columns: 1.8fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 5rem;
  padding: 5rem 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 5rem 10rem;
  }
}

/* Navigation Bar */

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  align-items: center;
}

.nav__brand {
  color: var(--color-primary-dark);
  font-size: 2.5rem;
  font-weight: 700;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  padding: 2rem 1rem;
  text-align: center;
}

.nav__item > a {
  color: var(--color-body-secondary-grey);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-secondary-dark);
}

.nav-btn-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.nav-btn-container .btn {
  margin: 1rem;
}

.nav__toggler {
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  color: var(--color-primary-light-hover);
  border-radius: 5px;
}

@media screen and (min-width: 847px) {
  .nav {
    padding: 2rem 2.3rem;
  }
  .nav__item {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-btn-container {
    max-height: 100%;
    opacity: 1;
  }

  .nav-btn-container .btn {
    margin: 0;
  }

  .nav__toggler {
    display: none;
  }

  .nav-btn-container {
    margin: 0;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }

  .nav-btn-container {
    display: inline;
  }
}

/* Hero */

.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
  line-height: 1.7;
}

.hero__image {
  max-width: 500px;
  height: 500px;
  border-radius: 10px 70px 10px 10px;
  background: #dff5e9;
  width: 100%;
}

@media screen and (min-width: 889px) {
  .hero__content {
    align-self: center;
  }
}
.hero__image {
  max-width: 400px;
  height: 400px;
  justify-self: center;
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
  }
}
