<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">
      <span style="color: #0ac05e"> Recently</span> Added
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea vero iusto
      itaque dicta iste? Distinctio praesentium sunt magni voluptatem
      accusantium.
    </p>
  </header>
  <div class="grid grid--1x3 showcase__grid">
    <img
      style="background: rgb(197, 174, 174)"
      class="showcase__image"
      src="/images/1.png"
      alt="tree"
    />
    <img
      style="background: rgb(174, 178, 197)"
      class="showcase__image"
      src="/images/2.png"
      alt="tree"
    />
    <img
      style="background: rgb(154, 184, 204)"
      class="showcase__image"
      src="/images/3.png"
      alt="tree"
    />
  </div>
</section>
