<div class="callout">
  <div class="container callout__grid">
    <img src="./images/man.png" class="hero__image callout__image" />
    <header class="block__header left-aligned__header callout__content">
      <h2 class="block__heading callout__heading">
        Join The <span style="color: #0ac05e">Community</span>
      </h2>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deleniti,
        voluptatibus blanditiis ut culpa excepturi saepe. Cum iste alias itaque!
      </p>
      <button class="btn btn--primary">Learn More</button>
      <button class="btn btn--stretched btn--outline">Watch Video</button>
    </header>
  </div>
</div>
