<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">
      <span style="color: #0ac05e"> Recently</span> Added
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea vero iusto
      itaque dicta iste? Distinctio praesentium sunt magni voluptatem
      accusantium.
    </p>
  </header>
  <div class="grid grid--1x3 showcase__grid">
    <img class="showcase__image" src="/images/tree.jpg" alt="tree" />
    <img class="showcase__image" src="/images/tree.jpg" alt="tree" />
    <img class="showcase__image" src="/images/tree.jpg" alt="tree" />
  </div>
</section>
