<section class="block container">
  <header class="block__header">
    <h2 class="block__heading"><span style="color: #0ac05e">About</span> Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum eius
      ullam ab exercitationem vel eligendi cumque quisquam quis iure ad.
    </p>
  </header>
  <div class="grid grid--1x2 about-us">
    <span class="about-us__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum optio
        necessitatibus minus corrupti possimus vel quidem repellendus, tempore
        facilis quasi nostrum consequuntur laudantium. Iusto placeat velit, nisi
        maiores, quas, vel architecto similique neque corrupti id atque! At
        aspernatur eius voluptatum veniam porro nemo incidunt, enim error nobis,
        odit maxime non.
      </p>
      <button class="btn btn--primary">Learn More</button>
      <button class="btn btn--stretched btn--outline">Watch Video</button>
    </span>
    <span class="grid grid--1x4 about-us__stats">
      <div class="stats stats--shadow">
        <h2 class="stats__heading">1000k</h2>
        <p class="stats__detail">Lorem ipsum.</p>
      </div>
      <div class="stats">
        <h2 class="stats__heading">1000k</h2>
        <p class="stats__detail">Lorem ipsum.</p>
      </div>
      <div class="stats">
        <h2 class="stats__heading">1000k</h2>
        <p class="stats__detail">Lorem ipsum.</p>
      </div>
      <div class="stats">
        <h2 class="stats__heading">1000k</h2>
        <p class="stats__detail">Lorem ipsum.</p>
      </div>
    </span>
  </div>
</section>
