<section data-aos="zoom-in" class="block testimonial">
  <header class="block__header testimonial__header">
    <h2 class="block__heading">
      What Our
      <span style="color: #0ac05e">Users Say</span>
    </h2>

    <p class="hero__tagline">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quas unde
      magnam iste veniam dolores saepe voluptatibus temporibus.
    </p>
  </header>

  <div class="card card--testimonial">
    <header class="card__header">
      <span class="icon__container quote__container">
        <img class="icon quote__icon" src="./images/quotation.svg" alt="" />
      </span>
      <div class="card__rating">
        <img src="./images/Star.svg" alt="Rating Star" />
        <img src="./images/Star.svg" alt="Rating Star" />
        <img src="./images/Star.svg" alt="Rating Star" />
        <img src="./images/Star.svg" alt="Rating Star" />
        <img src="./images/Star.svg" alt="Rating Star" />
      </div>
    </header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
    </div>
    <footer class="card__footer">
      <p class="testimonial__name">Sam</p>
      <p class="testimonial__sign">@Megaliko</p>
    </footer>
  </div>

  <div class="icon--arrow__container">
    <div class="icon icon--arrow icon--arrow-hollow">
      <img src="./images/arrow-grey.svg" alt="" />
    </div>
    <div class="icon icon--arrow">
      <img src="./images/arrow.svg" alt="" />
    </div>
  </div>
</section>
