<section data-aos="zoom-in" class="block testimonial">
  <header class="block__header testimonial__header">
    <h2 class="block__heading">
      What Our
      <span style="color: #0ac05e">Users Say</span>
    </h2>

    <p class="hero__tagline">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga quas unde
      magnam iste veniam dolores saepe voluptatibus temporibus.
    </p>
  </header>

  <div class="card card--testimonial">
    <header class="card__header">
      <span class="icon__container quote__container">
        <svg class="quote__icon">
          <use href="images/sprite.svg#quotation"></use>
        </svg>
      </span>
      <div class="card__rating">
        <svg class="card__rating__icon">
          <use href="images/sprite.svg#Star"></use>
        </svg>
        <svg class="card__rating__icon">
          <use href="images/sprite.svg#Star"></use>
        </svg>
        <svg class="card__rating__icon">
          <use href="images/sprite.svg#Star"></use>
        </svg>
        <svg class="card__rating__icon">
          <use href="images/sprite.svg#Star"></use>
        </svg>
        <svg class="card__rating__icon">
          <use href="images/sprite.svg#Star"></use>
        </svg>
      </div>
    </header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
    </div>
    <footer class="card__footer">
      <p class="testimonial__name">Sam</p>
      <p class="testimonial__sign">@Megaliko</p>
    </footer>
  </div>

  <div class="testimonial__footer__container">
    <div class="icon icon--arrow__container icon--arrow__container--light">
      <svg class="icon--arrow icon--arrow--grey">
        <use href="images/sprite.svg#arrow-grey"></use>
      </svg>
    </div>
    <div class="icon icon--arrow__container">
      <svg class="icon--arrow">
        <use href="images/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</section>
