<section data-aos="zoom-in-up" class="block container block-features">
  <header class="block__header features__header">
    <h2 class="block__heading">
      Thousands of <span style="color: #0ac05e">Features</span> Awaiting for You
    </h2>
    <p class="block-features__para">
      Characterised by soft lighting, vintage colour schemes and quirky
      costumes, these generative 3D TinyFaces are the addition to your NFT
      collection you’ve been waiting for.
    </p>
  </header>
  <div data-aos="fade-up" class="grid grid--1x3">
    <div class="card">
      <header class="card__header">
        <img src="images/Tiny.svg" alt="TinyFaces" />
        <h3>Unique TinyFaces</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
      </div>
      <footer class="card__footer">
        <a class="link--arrow" href="#">Learn More</a>
      </footer>
    </div>
    <div class="card">
      <header class="card__header">
        <img src="images/Special.svg" alt="Special Accessories" />
        <h3>Huge Special Accessories</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
      </div>
      <footer class="card__footer">
        <a class="link--arrow" href="#">Learn More</a>
      </footer>
    </div>
    <div class="card">
      <header class="card__header">
        <img src="images/Combination.svg" alt="Combination" />
        <h3>500+ Combinations</h3>
      </header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
      </div>
      <footer class="card__footer">
        <a class="link--arrow" href="#">Learn More</a>
      </footer>
    </div>
  </div>
</section>
