<section class="block">
  <article class="container grid grid--1x2 grid--aligned-left details">
    <header class="block__header left-aligned__header details__content">
      <h2 class="block__heading details__heading">
        <span style="color: #0ac05e">5000+</span> Unique TinyFaces
      </h2>

      <p class="hero__tagline">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo inventore
        magni illum repudiandae, praesentium recusandae odit alias! Quia qui
        omnis maxime quam! Exercitationem eum cumque explicabo dolor ipsum
        natus, voluptates quod non, similique animi libero.
      </p>
    </header>
    <span class="hero__image"> </span>
  </article>
  <article class="container grid grid--1x2 grid--aligned-right details">
    <header class="block__header left-aligned__header details__content">
      <h2 class="block__heading details__heading">
        <span style="color: #0ac05e">Secure</span> The Most Rare
      </h2>

      <p class="hero__tagline">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo inventore
        magni illum repudiandae, praesentium recusandae odit alias! Quia qui
        omnis maxime quam! Exercitationem eum cumque explicabo dolor ipsum
        natus, voluptates quod non, similique animi libero.
      </p>
    </header>
    <span class="hero__image"> </span>
  </article>
</section>
