<section class="block">
  <div class="container grid grid--1x2 grid--hero">
    <header class="block__header hero__header hero__content">
      <h1 class="block__heading hero__heading">
        <span style="color: #0ac05e">Find</span> Your Favourite
        <span style="color: #0ac05e">Character</span>
      </h1>

      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae
        commodi iste quaerat nemo asperiores, aliquam quia optio nobis
        perspiciatis!
      </p>
      <button class="btn btn--primary btn--stretched">Join Discord</button>
      <button class="btn btn--light btn--stretched">Live Demo</button>
    </header>
    <span class="hero__image"> </span>
  </div>
</section>
