<footer class="block footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">About</h2>
          <img src="images/chevron.svg" class="icon collapsible__chevron"/>
          
      </header>
      <ul class="list footer__list collapsible__content">
        <li class="footer__item"><a href="#">Home</a></li>
        <li class="footer__item"><a href="#">Features</a></li>
        <li class="footer__item"><a href="#">FAQs</a></li>
        <li class="footer__item"><a href="#">Reviews</a></li>
      </ul>
    </section>

    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Privacy</h2>
        <img src="images/chevron.svg" class="icon icon--dark collapsible__chevron"/>
      </header>
      <ul class="list footer__list collapsible__content">
        <li class="footer__item"><a href="#">Privacy</a></li>
        <li class="footer__item"><a href="#">Policy</a></li>
        <li class="footer__item"><a href="#">Payment</a></li>
        <li class="footer__item"><a href="#">Terms</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Contact Us</h2>
        <img src="images/chevron.svg" class="icon icon--dark collapsible__chevron"/>
      </header>
      <ul class="list footer__list collapsible__content">
        <li class="footer__item"><a href="#">qaisraniupw @gmail.com</a></li>
        <li class="footer__item"><a href="#">+92 348 6363588</a></li>
        
      </ul>
      <ul class="list footer-icon__list">
        
        <li class="footer-icon__item">
          <span class="footer-icon__container">
            <svg class="icon__footer--social">
              <use  href="images/sprite.svg#instagram"></use>
            </svg>
          </span>
        </li>
        <li class="footer-icon__item">
          <span class="footer-icon__container">
            <svg class="icon__footer--social">
              <use  href="images/sprite.svg#f"></use>
            </svg>
          </span>
        </li>
        <li class="footer-icon__item">
          <span class="footer-icon__container">
            <svg class="icon__footer--social">
              <use  href="images/sprite.svg#linked_in"></use>
            </svg>
          </span>
        </li>
        <li class="footer-icon__item">
          <span class="footer-icon__container">
            <svg class="icon__footer--social">
              <use  href="images/sprite.svg#twitter"></use>
            </svg>
          </span>
        </li>
      </ul>
    </section>
    <section class="footer__brand">
      <h3 class="brand__title">TinyFacesNFT</h3>
      <p class="brand__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum
        accusamus laboriosam quae.
      </p>
    </section>
  </div>
  <div class="footer__bottom">
    <p class="footer__copyright">
      © Copyright 2022 <span style="font-weight: bold;">TinyFaces.NFT</span> All rights reserved.
    </p>
    <ul class="list bottom__list">
      <li class="list--inline"><a href="#">Contact Us</a></li>
      <li class="list--inline"><a href="#">Terms</a></li>
  </div>
</footer>