<section class="block">
  <div class="container grid grid--1x2 grid--aligned-left">
    <header class="block__header hero__header hero__content">
      <h1 class="block__heading hero__heading">
        <span style="color: #0ac05e">Find</span> Your Favourite
        <span style="color: #0ac05e">Character</span>
      </h1>

      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae
        commodi iste quaerat nemo asperiores, aliquam quia optio nobis
        perspiciatis!
      </p>
      <button class="btn btn--primary btn--stretched">Join Discord</button>
      <button class="btn btn--secondary btn--stretched">Live Demo</button>
    </header>
    <div class="hero-image__container">
      <img src="./images/man.png" class="hero__image" />
      <div class="glass-card glass-card--top">
        <h3 class="glass-card--top__heading">202K</h3>
        <p class="glass-card--top__text">Unique<br />TinyFaces</p>
      </div>
      <div class="glass-card glass-card--bottom">
        <p class="glass-card--bottom__sub-heading">Secure The Most Rare</p>
        <div class="glass-card--bottom__container">
          <h3 class="glass-card--bottom__heading">3,000+</h3>
          <p class="glass-card--bottom__text">New TinyFaces Arrive</p>
        </div>
      </div>
    </div>
  </div>
</section>
