<div class="card card--testimonial">
  <header class="card__header">
    <span class="icon__container quote__container">
      <img class="icon quote__icon" src="./images/quotation.svg" alt="" />
    </span>
    <div class="card__rating">
      <img src="./images/Star.svg" alt="Rating Star" />
      <img src="./images/Star.svg" alt="Rating Star" />
      <img src="./images/Star.svg" alt="Rating Star" />
      <img src="./images/Star.svg" alt="Rating Star" />
      <img src="./images/Star.svg" alt="Rating Star" />
    </div>
  </header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, unde!
  </div>
  <footer class="card__footer">
    <p class="testimonial__name">Sam</p>
    <p class="testimonial__sign">@Megaliko</p>
  </footer>
</div>
