<nav class="nav collapsible">
  <a class="nav__brand" href="/">
    <span style="color: #0ac05e">TinyFaces</span>NFT</a
  >
  <svg class="icon icon--primary nav__toggler">
    <use href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="">Home</a></li>
    <li class="nav__item"><a href="">About</a></li>
    <li class="nav__item"><a href="">Features</a></li>
    <li class="nav__item"><a href="">Contact</a></li>
  </ul>
  <span class="nav-btn-container collapsible__content">
    <button class="btn btn--secondary">Sign In</button>
    <button class="btn btn--primary">Sign-up</button>
  </span>
</nav>
